<!-- <ul>
    <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a></li>
    <li><a routerLink="/about" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">About</a></li>
    <li><a routerLink="/todo-list" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Todo List</a></li>
</ul> -->

<mat-list role="list">
    <mat-list-item role="listitem" routerLink="/">Item 1</mat-list-item>
    <mat-list-item role="listitem" routerLink="/about">Item 2</mat-list-item>
    <mat-list-item role="listitem" routerLink="/todo-list">Item 3</mat-list-item>
</mat-list>

<mat-spinner></mat-spinner>

<mat-slider>
    <input matSliderThumb>
</mat-slider>

<router-outlet />